#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.subtitle {
  font-size: 1.2em;
  color: #aaa;
  margin-bottom: 2rem;
}

.card {
  padding: 2em;
  text-align: left;
  max-width: 600px;
  margin: 0 auto;
}

.card h2 {
  text-align: center;
  margin-bottom: 1em;
}

.card ol {
  line-height: 2;
}

.read-the-docs {
  color: #888;
}
